body { margin:0; padding:0; }

#navbar {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30;
        top: 0;
        width: 80%;
        display: inline-block;
        vertical-align: top;
}


.lablogo {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    margin-left: 1.8em;
    margin-top: 1.8em;  
}


/* info box at the top of the website */
#zoom  {
    display: inline-block;
    position: relative;
    margin: 2em auto;
    height: 4em;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background:rgba(255, 100, 100, 1);
    margin-left: 40em 
    }

#map {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}


.mapboxgl-ctrl-top-right {
    width: 40px;
    height: 40px;
    /* distance from browser window */
    margin: 1.8em;
}

.mapboxgl-ctrl-group > button {
    width: 40px;
    height: 40px;
    margin: 1em;
}




/* scalecontrol at the bottom left of the website */

.mapboxgl-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.5) ;
    font-size: 12px;
    border-width: medium 2px 2px;
    border-style: none solid solid;
    border-color: #333;
    padding: 0 10px;
    color: #333;
    box-sizing: border-box;
}