.trackerDropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

.dropdown-content {
        display: none;
        position: absolute;
        max-width: 14em; 
        background: white;
        overflow: auto;
        z-index: 1;
        border: none;
        color: var(--lightmag);
        border-radius: 5px;
        box-shadow: rgba(44, 48, 59, 0.1) 0px 2px 3px 0px;
        transition: 0.3s;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 1em 1em; 
    color: var(--lightmag);
    text-align: center;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background: var(--magenta);
    color: white;
  }

.show {
    display: block;
}
