#overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 80%;
  height: 85%;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1); /*dim the background*/
  box-shadow: rgba(44, 48, 59, 0.1) 0px 2px 3px 0px;
}

#overlay a {
    padding: 6px 12px 0 0;
    text-decoration: none;
    right: 0;
    font-size: 20px !important;
    color: var(--darkgrey);
    display: block;
    text-align: right;
    transition: 0.3s;
  }
  
#overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }

.headerSidebar {
  position: absolute;
  width: 100%;
  height: 3.2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--grey);
}

#overlayText {
  display: none;
  position: relative;
}

#overlayText p {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 50%;
    width: 84%;
    font-size: 12px !important;
    color: var(--blue);
    text-align: center;
    font-weight: bolder;
}

.headerSidebar h1 {
  position: relative;
  top: 4%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.headerSidebar p {
    height: 50%;
    width: 50%;
    color: #000;
  }

a#closebtn {
  display: inline-block;
  z-index: 1;
  padding: 0.3em 0.5em;
  float: right;
}

.show {
  display: block;
}
