body { margin:0; padding:0; }

html *
{
   font-size: 1em !important;
   font-family: Helvetica,Arial,sans-serif !important;
}

#map{
    max-width: 78%;
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}

.sidebar{
    height: 100%;
    width: 22%;
    position: fixed;
    margin-top: 2.2em;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}


.menu {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.menuBtn {
    display: flex;
    position: relative;
    height: 3.6 em;
    padding: 1em 2em; 
    border: none;
    border-radius: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background:rgb(194, 194, 194);
}

#navbar {
    max-width: 70%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    top: 0;
    width: 90%;
    display: flex;
    align-content: space-around;
    vertical-align: top;
    }


.lablogo {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    margin-left: 1.8em;
    margin-top: 1.8em;  
    }


/* info box at the top of the website */
#zoomBtn  {
    display: inline-block;
    position: relative;
    margin: 2em auto;
    height: 3em;
    padding: 0.2em 1em 0.2em 1em;
    border: none;
    border-radius: 5px;
    font-size: 8px;
    text-align: center;
    color: #fff;
    background:rgba(255, 100, 100, 1);
    }

#zoomBtn:hover{
    cursor: pointer;
    }

.mapboxgl-ctrl-top-right {
    /* distance from browser window */
    margin: 1.5em 1.8em;
    }
.mapboxgl-ctrl-group > button {
    margin: 0.6em;
    }

.mapboxgl-ctrl-bottom-left {
    margin-left: 1.8em;
    }

.mapboxgl-ctrl-scale{
    max-width: 16em;
}


/* scalecontrol at the bottom left of the website */

.mapboxgl-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.5) ;
    font-size: 12px;
    border-width: medium 2px 2px;
    border-style: none solid solid;
    border-color: #333;
    padding: 0 10px;
    color: #333;
    box-sizing: border-box;
    }