@import "dropdown.css";
@import "overlay.css";
@import "marker.css";
@import "loadlayer.css";

:root {
    --lightmag:#ffa8a8;
    --magenta:#de204a;
    --blue: #11119f;
    --grey: rgb(215, 215, 215);
    --darkgrey: rgb(140, 140, 140);
}

body { margin:0; padding:0; }

html * {
   font-size: 14px !important;
   font-family: Helvetica,Arial,sans-serif !important;
   letter-spacing: 0.05em;
}


h1 {
    color: white;
    font-size: 18px !important;
    text-align: center;
}

#map {
    max-width: 80%;
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}

.sidebar{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--lightmag);
}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

.menuBtn {
    display: flex;
    max-width: 14em;
    padding: 2em 2.5em; 
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: var(--lightmag);
    background: white;
    box-shadow: rgba(44, 48, 59, 0.1) 0px 2px 3px 0px;
    transition: 0.3s;
    margin-top: 2em;
}

.menuBtn:hover {
    cursor: pointer;
    background: var(--magenta);
    color: white;
}

#trackerInfo {
    justify-content: center;
    align-items: center;
    margin-top: 2.2em;
}


#trackerInfo p {
    color: white;
    font-size: 16px !important;
    font-weight: bold;
    text-align: center;
}

#trackerInfo p#bike{
    font-size: 34px !important;
}
#trackerInfo p#highway{
    font-size: 34px !important;
}

#trackerInfo #duration p{
    margin: -1.8em;
}

#trackerInfo #distance p{
    margin: -1.8em;
}

.trackerDistance {
    display: block;
    margin-top: 16em;
}
.trackerDuration {
    display: block;
}


#navbar {
    position: fixed;
    max-width: 70%;
    left: 0;
    right: 0;
    z-index: 30;
    width: 90%;
    display: flex;
    align-content: space-around;
    vertical-align: top;
    }


.lablogo {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    margin-left: 1.8em;
    margin-top: 1.8em;  
    }


/* info box at the top of the website */
#zoomBtn  {
    display: inline-block;
    position: relative;
    margin: 2em auto;
    height: 3em;
    padding: 0.4em 1.2em 0.4em 1.2em;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.05em ;
    text-align: center;
    color: #fff;
    background: var(--lightmag);
    box-shadow: rgba(44, 48, 59, 0.1) 0px 2px 3px 0px;
    transition: 0.3s;
    }

#zoomBtn:hover  {
    background: var(--magenta);
    cursor: pointer;
}

.mapboxgl-ctrl-top-right {
    /* distance from browser window */
    margin: 1.5em 1.8em;
    }
.mapboxgl-ctrl-group > button {
    margin: 0.6em;
    }

.mapboxgl-ctrl-bottom-left {
    margin-left: 1.8em;
    }

.mapboxgl-ctrl-scale{
    max-width: 16em;
}


.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 8%;
    width: 22%;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    left: 0;
    padding-left: 2.2em;
    padding-right: 3.6em;
}

.txt-rotate span{
    font-size: 30px !important ;
    margin-bottom: 4em;
    letter-spacing: 0.05em;

}

#about{
    margin: auto;
}
#about:hover{
    cursor: pointer;
    color: var(--magenta);
}

#slash{
    margin: auto;
}

#impressum{
    margin: auto;
}

#impressum:hover{
    cursor: pointer;
    color: var(--magenta);
}


/* scalecontrol at the bottom left of the website */

.mapboxgl-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.5) ;
    font-size: 12px;
    border-width: medium 2px 2px;
    border-style: none solid solid;
    border-color: #333;
    padding: 0 10px;
    color: #333;
    box-sizing: border-box;
    }